<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title animate__animated animate__bounceIn">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-body animate__animated animate__bounceIn">Body</label>
            <textarea type="text" id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary animate__animated animate__bounceIn">Create</button>
    </form>
</section>

