<!--<button type="submit" class="btn btn-light" id="create" onclick="addClass()">Create a New Blog Post</button>-->

<section id="create-blog" class="hide pt-3">
    <form class="submit-post-form">
        <div class="mb-3">
            <label for="post-title" class="form-label text-area"></label>
            <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Title">
        </div>
        <div class="text-area mb-3">
            <label for="post" class="form-label"></label>
            <textarea class="form-control" rows="3" type="text" id="post-body" name="post-body" placeholder="Post Text"></textarea>
        </div>
        <button type="submit" class="btn btn-dark animate__animated animate__bounceIn">Submit My Post</button>
    </form>
</section>

{{#if posts.length}}
    <h2 class="m-3 allPost">My Posts</h2>
    {{#each posts as |post|}}
        <div class="card p-2 m-2 rounded">

            <div class="card-body">
                {{> post-data post }}
                <a href="/api/posts/edit/{{post.id}}" class="edit-link">Edit post</a>
            </div>
        </div>
    {{/each}}
{{/if}}

<script src="/javascript/submit-post.js"></script>