{{#if posts.length}}
    <div class="d-flex justify-content-between">
        <h2 class="">All Posts</h2>
        <p class="sorted"><a href='/homepage/usersort'>sort by user</a> | <a href='/'>sort by date</a></p>
    </div>
    <p class="go-to-dash"><a href="/dashboard">Go to Dashboard</a></p>

    {{#each posts as |post|}}

        <div class="card p-2 m-2 rounded">
            <div class="card-body">
                {{> post-data post }}
<<<<<<< HEAD
                <a href="/api/posts/{{post.id}}" class="edit-link">Edit Post</a>
=======
                {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
>>>>>>> 461355caccb7b41a6c0abc693285ebd952a15e8d
            </div>
        </div>

    {{/each}}
{{/if}}