@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

a, u {
   text-decoration: none !important;
}

.allPost, .go-to-dash, .sorted {
    text-shadow: 3px 3px 5px rgb(188, 192, 216);
    font-weight: bold;
    
}

.card,  .card-text, .comment-text, .comment {
    text-shadow: 1px 1px 3px rgb(120, 150, 250);
    font-weight: bold;

}

body {
    background-image: url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-033.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, .identifier {
    font-family: fantasy;
    font-size: 75px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    color: linear-gradient(45deg, rgba(147, 211, 248, 0.85), rgb(116, 204, 245, 0.9), rgb(186, 222, 252, 0.95));

}

.log {
    text-shadow: 3px 3px 5px rgb(120, 150, 250);
    color:rgb(15, 138, 253, 0.85);
    font-weight: bold;
    box-shadow: 3px 3px 7px black;
    opacity: 0.87;
}

.btn-primary {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgb(15, 138, 253, 0.85), rgb(116, 204, 245, 0.9), rgb(186, 222, 252, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.btn-danger {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgba(247, 3, 3, 0.85), rgba(247, 129, 62, 0.9), rgba(247, 219, 169, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;

}

.btn-submit {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgba(250, 110, 17, 0.85), rgba(230, 132, 75, 0.9), rgba(247, 219, 169, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;

}

.btn-success {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgba(5, 168, 5, 0.85), rgba(74, 201, 80, 0.9), rgba(163, 248, 163, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;

}

.btn-dark {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgb(15, 138, 253, 0.85), rgb(116, 204, 245, 0.9), rgb(186, 222, 252, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

.btn-info {
    box-shadow: 3px 3px 5px black;
    background-image: linear-gradient(45deg, rgb(15, 138, 253, 0.85), rgb(116, 204, 245, 0.9), rgb(186, 222, 252, 0.95));
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);

}

.btn-success:hover, .btn-dark:hover, .btn-info:hover, .btn-submit:hover, .btn-primary:hover {
    background-image: linear-gradient(45deg, rgba(43, 245, 87, 0.85), rgba(152, 245, 65, 0.9), rgba(210, 245, 130, 0.95));
    transform: scale3d(1, 1, 1.5);
}

.btn-danger:hover {
    background-image: linear-gradient(45deg, rgba(248, 142, 3, 0.85), rgba(245, 203, 65, 0.9), rgba(248, 243, 167, 0.95));
    transform: scale3d(1, 1, 1.5);
}


.form-outline {
    background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.98), rgba(252, 252, 252, 0.94), rgba(251, 255, 251, 0.85));

}

.card, .form-control, .form-label {
    box-shadow: 3px 3px 7px black;
    opacity: 0.86;
}


nav, .btn-link {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgb(188, 192, 216);

}

nav:hover, .edit-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    color: rgb(184, 181, 6);

}

.card-body:hover, .card:hover {
    transform: scale3d(1, 1.1, 1.2);
    background-color: rgb(203, 247, 232);

}

.card-body:active, .card:active {
    transform: scale3d(1, 0.9, 0.8);
    background-image: linear-gradient(45deg, rgb(238, 250, 11), rgba(231, 237, 115, 0.9), rgba(245, 241, 176, 0.95));

}

.sorted:hover, a:hover, p:hover {
    color: rgb(184, 181, 6);
}

.animate__animated.animate__bounceIn {
    --animate-duration: 1.5s;
    --animation-fill-mode: forwards;
    --animation-delay: 0.5s;
}

.animate__animated.animate__hinge {
    animation-fill-mode: none;
    animation-delay: 1s;

}

.animate__animated.animate__flipInX {
    --animate-duration: 1.5s;
    --animation-fill-mode: forwards;
    --animation-delay: 0.5s;
}

.btn:active {
    transform: scale3d(1, 0.9, 0.8);
    background-image: linear-gradient(45deg, rgb(238, 250, 11), rgba(231, 237, 115, 0.9), rgba(245, 241, 176, 0.95));

}

  